[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "marin"
version = "0.1.0"
readme = "README.md"
license = {file = "LICENSE"}

requires-python = ">=3.10"
dependencies = [
    "draccus>=0.8.0",
    "google-api-python-client~=2.0",
    "ray",
    "gcsfs",
    "google-cloud-storage",
    "google-cloud-storage-transfer",
    "s3fs",
    "regex",
    "requests",
    "numpy",
    "torch",
    "braceexpand",
    "deepdiff",
    "tqdm",
    "tqdm-loggable",
    "toml",
    "pandas", # Only needed by Fileprovider in inference.py
    "pyarrow", # # Only needed by Fileprovider in inference.py
    "transformers>=4.48.0,<5.0",
    # We are keeping levanter deps for now. @TODO :: Remove them
    "multiprocess==0.70.16",
    "levanter>=1.2.dev1303",
    "haliax>=1.4.dev343",
    "sentencepiece",
    "lz4",
]

[project.optional-dependencies]
dev = [
    "black>=24.8.0",
    "ipython",
    "mypy>=1.4.1",
    "pre-commit",
    "pytest>=8.3.2",
    "pytest-asyncio",
    "pytest-xdist",
    "ruff>=0.5.7",
    "types-PyYAML",
    "types-requests",
    "types-six",
]

download_transform = [
    "chardet",
    "datasets>=2.18.0",
    "fastparquet",
    "google-cloud-storage-transfer~=1.0",
    "html2text==2024.2.26", # TODO :: Check pin?
    "htmlmin==0.1.12", # TODO :: Check usage | pin?
    "markdownify==0.12.1", # TODO :: Check usage | pin?
    "py7zr",
    "readabilipy",
    "readability-lxml",
    "lxml[html_clean]",
    "warcio",
    "resiliparse",
    "trafilatura",
    "boto3==1.35.23",
    "htmlmin",
]

quality_dedup_consolidate = [
    "dolma",
    "fasttext",
    "huggingface_hub",
    "datasets",
    "transformers",
]
tokenize_train = [
    "jax[tpu]==0.5.1",
    "multiprocess==0.70.16",
    "levanter>=1.2.dev1303",
    "lm-eval@git+https://github.com/stanford-crfm/lm-evaluation-harness.git",
    "tblib",
    "sentencepiece",
    "tiktoken",
]

data_browser = [
    "zstandard==0.23.0",
]

eval = [
    "levanter>=1.2.dev1303",
    "lm-eval@git+https://github.com/stanford-crfm/lm-evaluation-harness.git",
]

[tool.setuptools.packages.find]
where = ["."]
exclude = ["cache", "infra"]

[tool.setuptools.package-data]
"marin" = ["py.typed"]

[tool.black]
line-length = 121
target-version = ["py310"]
preview = true

# Note :: Grow more strict over time!
extend-exclude = """
(
    scripts/
)
"""

[tool.ruff]
line-length = 121
target-version = "py310"

# Note :: Grow more strict over time!
extend-exclude = ["scripts/"]

[tool.ruff.lint]
select = ["A", "B", "E", "F", "I", "NPY", "RUF", "UP", "W"]
ignore = ["F722", "B008", "UP015", "A005"]

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["E402", "F401"]

[tool.mypy]
python_version = "3.10"

# Note: Grow more strict over time!
ignore_missing_imports = true
exclude = [
    "marin/",
    "scripts/"
]

[tool.uv.sources]
resiliparse-dom = { git = "https://github.com/stanford-crfm/chatnoir-resiliparse", subdirectory = "resiliparse_dom", rev = "da2ff85fe51310484cf9435565b2bdde2a23708b" }
