[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "marin"
version = "0.1.0"
readme = "README.md"
license = {file = "LICENSE"}

requires-python = ">=3.10"
dependencies = [
    "chardet==5.2.0",
    "cryptography",
    "datasets==2.19.0",
    "dill==0.3.8",
    "draccus @ git+https://github.com/dlwh/draccus",
    "fsspec~=2024.3",
    "gcsfs~=2024.3",
    "google-api-python-client==2.129.0",
    "google-cloud-storage-transfer==1.11.3",
    "html2text==2024.2.26",
    "htmlmin==0.1.12",
    "markdownify==0.12.1",
    "multiprocess==0.70.16",
    "py7zr==0.21.0",
    "ray[default]==2.22.0",
    "rbloom==1.5.0",
    "readabilipy==0.2.0",
    "readability-lxml==0.8.1",
    "regex==2024.4.16",
    "requests",
    "tensorflow==2.16.1",
    "trafilatura==1.8.1",
    "tqdm",
    "warcio==1.7.4",
    "grip==4.6.2",
]

[project.optional-dependencies]
dev = [
    "black==24.4.2",
    "ipython",
    "pre-commit",
    "pytest~=8.1",
    "ruff==0.4.4"
]

[tool.setuptools.packages.find]
where = ["."]
exclude = ["cache", "infra"]

[tool.setuptools.package-data]
"marin" = ["py.typed"]

[tool.black]
line-length = 121
target-version = ["py310"]
preview = true

[tool.ruff]
line-length = 121
target-version = "py310"

[tool.ruff.lint]
select = ["A", "B", "E", "F", "I", "RUF", "W"]
ignore = ["F722"]

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["E402", "F401"]
