[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "marin"
version = "0.1.0"
readme = "README.md"
license = {file = "LICENSE"}

requires-python = ">=3.10"
dependencies = [
    "dolma",
    "chardet",
    "cryptography",
    "datasets>=2.18.0",
    "dill",
    "draccus>=0.8.0",
    "fastparquet",
    "fsspec[http]>=2024.2,<2024.7",
    "gcsfs>=2024.2,<2024.7",
    "google-api-python-client~=2.0",
    "google-cloud-storage-transfer~=1.0",
    "html2text==2024.2.26",                 # TODO :: Check pin?
    "htmlmin==0.1.12",                      # TODO :: Check usage | pin?
    "markdownify==0.12.1",                  # TODO :: Check usage | pin?
    "multiprocess==0.70.16",
    "py7zr",
    "zstandard==0.23.0",
    "ray[default]==2.34.0",
    "readabilipy",
    "readability-lxml",
    "fsspec",
    "gcsfs",
    "s3fs",
    "lxml[html_clean]",
    "regex",
    "requests",
    "warcio",
    "levanter>=1.2.dev1013",
    "lm-eval",
    "resiliparse",
    "trafilatura",
    "fasttext",
    "boto3==1.35.23"
]

[project.optional-dependencies]
dev = [
    "black>=24.8.0",
    "ipython",
    "mypy>=1.4.1",
    "pre-commit",
    "pytest>=8.3.2",
    "ruff>=0.5.7",
    "types-PyYAML",
    "types-requests",
    "types-six",
]

[tool.setuptools.packages.find]
where = ["."]
exclude = ["cache", "infra"]

[tool.setuptools.package-data]
"marin" = ["py.typed"]

[tool.black]
line-length = 121
target-version = ["py310"]
preview = true

# Note :: Grow more strict over time!
extend-exclude = """
(
    scripts/
)
"""

[tool.ruff]
line-length = 121
target-version = "py310"

# Note :: Grow more strict over time!
extend-exclude = ["scripts/"]

[tool.ruff.lint]
select = ["A", "B", "E", "F", "I", "NPY", "RUF", "UP", "W"]
ignore = ["F722", "B008", "UP015"]

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["E402", "F401"]

[tool.mypy]
python_version = "3.10"

# Note: Grow more strict over time!
ignore_missing_imports = true
exclude = [
    "marin/",
    "scripts/"
]
