datasets~=2.19.0
trafilatura~=1.8.1
requests~=2.31.0
warcio~=1.7.4
readabilipy~=0.2.0
html2text~=2024.2.26
rbloom~=1.5.0
gcsfs~=2024.3
apache-beam==2.55.1
regex==2024.4.16
tensorflow~=2.16.1
markdownify~=0.12.1
pytest~=8.1