body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 20px;
}

.error {
  color: red;
  font-weight: bold;
  background-color: #ffe6e6;
  padding: 10px;
  font-size: large;
}

a {
  text-decoration: none;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  color: blue;
}

.editable {
  font-weight: bold;
  cursor: pointer;
}

.editable:hover {
  color: blue;
}

.path {
  background-color: #d6d6ff;
}

tr {
  vertical-align: top;
}

.items-table {
  border-collapse: collapse;
}

.items-table tr {
  border-top: 2px solid lightgray;
  padding-top: 10px;
}

.disabled {
  color: gray;
}

.date {
  font-style: italic;
}

.description {
  padding: 10px;
  font-style: italic;
}

.status-SUCCESS {
  font-weight: bold;
  color: green;
}

.status-FAILED {
  font-weight: bold;
  color: red;
}

.status-WAITING {
  font-weight: bold;
  color: orange;
}

.status-RUNNING {
  font-weight: bold;
  color: blue;
}

.block {
  margin: 10px;
  padding: 10px;
  border: 1px solid lightgray;
}

.status-container {
  white-space: nowrap;
}

.experiment-steps-table {
  border-collapse: collapse;
}

.experiment-steps-table tr {
  border-top: 1px solid lightgray;
}

.experiment-step-table-cell {
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dataset-table {
  border: 1px solid lightgray;
  padding: 10px;
}

.highlight, .path-link:hover {
  background-color: #e6f3ff;
}
