body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.error {
  color: red;
  font-weight: bold;
  background-color: #ffe6e6;
  padding: 10px;
  font-size: large;
}

a {
  text-decoration: none;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  color: blue;
}

.editable {
  font-weight: bold;
  cursor: pointer;
}

.editable:hover {
  color: blue;
}

.path {
  background-color: #d6d6ff;
}

tr {
  vertical-align: top;
}

tr:nth-child(even) {
  background-color: #e2e2e2;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

.items-table {
  border-spacing: 0 50px;
}