gcsfs==2023.10.0
jax==0.4.29
transformers==4.44.2
flax==0.10.0
sentencepiece==0.1.99
wget==3.2
jaxtyping==0.2.23
tyro==0.8.11
tqdm==4.66.1
wandb==0.16.1
einops==0.8.0
numpy<2.0.0
ringattention==0.1.2
redis==4.3.4
Flask==3.0.3
flask-cors==5.0.0
sympy
pylatexenc
ipython
datasets
scalax @ git+https://github.com/Sea-Snell/scalax.git@main
