name: Iris - Tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - lib/iris/**
      - .github/workflows/iris-unit-tests.yaml

env:
  UV_HTTP_TIMEOUT: "120"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  cpu-test:
    runs-on: [cpu-ci]
    timeout-minutes: 10
    strategy:
      matrix:
        python-version: ["3.12"]
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true
          cache-dependency-glob: "lib/iris/pyproject.toml"

      - name: Test iris
        env:
          PYTHONASYNCIODEBUG: "1"
        run: |
          cd lib/iris && uv run --group dev python -X faulthandler -m pytest --durations=5 --tb=short -m 'not slow and not docker and not chaos' -v -s tests/
