name: Quickstart

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  quickstart:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    concurrency:
      group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
      cancel-in-progress: true

    strategy:
      matrix:
        python-version: [ "3.12" ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
          activate-environment: marin_unit_test_env
          auto-activate-base: false

      - name: Cache pip dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/pip
            ~/.cache/uv
          key: ${{ runner.os }}-${{ matrix.python-version }}-quickstart

      - name: Install dependencies
        shell: bash -l {0}
        run: |
          python -m pip install --upgrade pip
          pip install uv==0.5.11 toml
          python scripts/install_all_pip_dep.py

      # Start Ray cluster locally; We give cpus as 64 since we don't want Ray to get stuck in infinite loop trying to
      # get the resources
      - name: Start Ray cluster locally
        shell: bash -l {0}
        run: |
          ray start --head --num-cpus=64

      - name: Run the quickstart script
        shell: bash -l {0}
        run: |
          PYTHONPATH=. python experiments/quickstart.py
