name: Run unit tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    concurrency:
      group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
      cancel-in-progress: true

    strategy:
      matrix:
        python-version: ["3.12"]
        node-version: ["20.10.0"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
          activate-environment: marin_unit_test_env
          auto-activate-base: false

      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Cache pip dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/pip
            ~/.cache/uv
          key: ${{ runner.os }}-${{ matrix.python-version }}-unittest

      - name: Set up Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v1
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.NEW_GCP_JSON }}

      - name: Install dependencies
        shell: bash -l {0}
        run: |
          conda install -c conda-forge pandoc
          npm install -g pandiff
          python -m pip install --upgrade pip
          pip install uv==0.5.11 toml
          curl -sL https://lexbor.com/keys/lexbor_signing.key | sudo gpg --dearmor --output /etc/apt/trusted.gpg.d/lexbor.gpg
          echo "deb https://packages.lexbor.com/ubuntu/ $(lsb_release -sc) liblexbor" | sudo tee /etc/apt/sources.list.d/lexbor.list
          sudo apt update
          sudo apt install build-essential python3-dev zlib1g-dev liblz4-dev libuchardet-dev liblexbor-dev libre2-dev
          python scripts/install_all_pip_dep.py

      - name: Start Ray cluster locally
        shell: bash -l {0}
        run: |
          ray start --head

      - name: Test with pytest
        shell: bash -l {0}
        run: |
          export CI=true # Set CI environment variable; It's needed for tokenization
          CI=true PYTHONPATH=tests:. pytest --durations=0 -s --tb=no -v tests/
